-
 var cases = [
  {
    image: '../../images/cases/case1.webp',
    title: 'Будинок у стилі арт деко',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '400 М²',
    result_1span: 'площа об`єкта',
    result_2: '6500$',
    result_2span: 'Ціна "під ключ"',
    link: 'art-deko-style.html'
  },
  {
    image: '../../images/cases/case2.webp',
    title: 'Танхаус у сучасному стилі',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '130 М²',
    result_1span: 'площа об`єкта',
    //- result_2: '3 тижні',
    //- result_2span: 'Тривалість реалізації',
    result_2: '2700$',
    result_2span: 'Ціна "під ключ"',
    link: 'modern-style-townhouse.html'
  },
  {
    image: '../../images/cases/case3.webp',
    title: 'Будинок у сучасному стилі',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '250 М²',
    result_1span: 'площа об`єкта',
    result_2: '4000$',
    result_2span: 'Ціна "під ключ"',
    link: 'modern-style-house.html'
  },
  {
    image: '../../images/cases/case4.webp',
    title: 'Квартира',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '90 М²',
    result_1span: 'площа об`єкта',
    result_2: '1800$',
    result_2span: 'Ціна',
    link: 'apartment.html'
  },
  {
    image: '../../images/cases/case5.webp',
    title: 'Барокко класика',
    subtitle: 'Проєкт "Під ключ"',
    //- result_1: '400 М²',
    //- result_1span: 'площа обєкта',
    //- result_2: '6500',
    //- result_2span: 'Ціна "під ключ"',
    link: 'barocco-classic.html'
  },
  {
    image: '../../images/cases/case6.webp',
    title: 'Квартира "старий фонд"',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '110 М²',
    result_1span: 'площа обєкта',
    result_2: '1900$',
    result_2span: 'Ціна "під ключ"',
    link: 'old-apartment.html'
  },
  {
    image: '../../images/cases/case7.webp',
    title: 'Сучасний дизайнерський будинок',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '220 М²',
    result_1span: 'площа обєкта',
    result_2: '4200$',
    result_2span: 'Ціна "під ключ"',
    link: 'modern-design-house.html'
  },
  {
    image: '../../images/cases/case8-1.webp',
    title: 'Офіс дерев`янні жалюзі',
    subtitle: 'Проєкт "Під ключ"',
    result_1: '1 од.',
    result_1span: 'Кількість',
    result_2: '700$',
    result_2span: 'Вартість',
    link: 'office.html'
  },
 ]

section.case#cases
  .container.d-lg-flex.justify-content-between.align-items-center
    h2.case__title.h2_white Кейси
  .case__slider 
    .swiper 
      .swiper-wrapper 
        each slide, i in cases
          .swiper-slide.case__item.slide.d-flex.flex-column.justify-content-between(style=`--bg-img: url(${slide.image})`, class= i===3? "opacied" : "")
            .slide__head
              h5.slide__title= slide.title
              .slide__subtitle 
                p= slide.subtitle
            .slide__results.results.d-flex 
              if slide.result_1
                .sales 
                  p= slide.result_1
                  span= slide.result_1span
              if slide.result_2
                .return 
                  p= slide.result_2
                  span= slide.result_2span
            a.btn.btn_primary.btn_small(href=slide.link) переглянути кейс

      .swiper-pagination
      .swiper-button-prev.swiper-btn
        include ../../images/svg/arrow.svg
      .swiper-button-next.swiper-btn
        include ../../images/svg/arrow.svg
